image: python:3.6

services:
  - mysql:latest

variables:
  MYSQL_DATABASE: console
  MYSQL_USER: superuer
  MYSQL_PASSWORD: pass1234
  MYSQL_ROOT_PASSWORD: pass1234

stages:
  - build
  - test

build_env:
  stage: build
  script:
    - cd server
    - pip install -r requirements.txt
    - python manage.py makemigrations
    - python manage.py migrate
    - python manage.py loaddata fixtures/third_party.json
    - python manage.py loaddata fixtures/paid_type.json

test_backend:
  stage: test
  script:
    - cd server
    - pip install -r requirements.txt
    - python manage.py test
