image: python:3.6

services:
  - mysql:latest

variables:
  MYSQL_DATABASE: console
  MYSQL_USER: superuer
  MYSQL_PASSWORD: pass1234

stages:
  - build
  - test

build_env:
  only:
    - branches@gitlab-org/gitlab-ce
  stage: build
  script:
    - cd server
    - pip install -r requirements.txt

test_backend:
  only:
    - branches@gitlab-org/gitlab-ce
  stage: test
  script:
    - cd server
    - python manage.py test
