image: python:3.6

services:
  - mysql:latest

variables:
  MYSQL_DATABASE: console
  MYSQL_USER: superuser
  MYSQL_PASSWORD: pass1234
  MYSQL_ROOT_PASSWORD: pass1234

stages:
  - build
  - test

build_env:
  stage: build
  script:
    - export ENV="DEV"
    - export DB_USER="superuser"
    - export DB_NAME="console"
    - export DB_PASS="pass1234"
    - export DB_HOST="mysql"
    - export SECRET_KEY="testthissecretkey"
    - export ALLOW_HOST="127.0.0.1"
    - export WHITE_LIST="127.0.0.1:8000"
    - export INIT_PASS="initpassword"
    - export NLU="http://127.0.0.1:8787/chatbot/"
    - export CONFIRM="http://127.0.0.1:8000/confirm/?code="
    - cd server
    - pip install -r requirements.txt

test_backend:
  stage: test
  script:
    - cd server
    - pip install -r requirements.txt
    - python manage.py test
