image: python:3.6

services:
  - mysql:latest

variables:
  MYSQL_DATABASE: console
  MYSQL_USER: superuer
  MYSQL_PASSWORD: pass1234

stages:
  - build
  - test

build_env:
  stage: build
  script: pip install -r requirement.txt

test_backend:
  stage: test
  script: python manage.py test