<html>
    <body>
        <h1> 您好, {{ name }} 先生/女士 : </h1>
        <p> 您的方案 <b>{{ acc_type }}</b>將會在<b>{{ remain_days }}</b> 天後過期，將會變成<b>{{ new_acc_type }}</b>方案</p>
        <hr/>
        <p> 此方案限制為: </p>
        <h4> 機器人數量: {{ bot_amount }} </h4>
        <h4> 問答數組數量: {{ faq_total }} </h4>
        <hr/>
        <p> 您現在的方案過期日為: </p>
        <h4> 過期時間: {{ expire_date }} </h4>
        <hr/>
        <p> 我們將會在過期之後的<b>15</b>天內保留您的機器人及問答資料</p>
        <p> 如果您想要保留原本方案或著升級至更高的方案，請繼續訂閱原方案或著訂閱其他方案 </p>
        <p> 如果有任何的問題，煩請聯絡客服人員，我們將儘快為您服務 </p>
        <p> 語智網團隊 </p>
    </body>
</html>