<html>
    <body>
        <h1> Hi, Ms./Mr. {{ name }} : </h1>
        <p> Your package <b>{{ acc_type }}</b> is going to expire after <b>{{ remain_days }}</b> and is going to change to <b>{{ new_acc_type }}</b> version.</p>
        <hr/>
        <p> Which has the limitation of: </p>
        <h4> Bot amount: {{ bot_amount }} </h4>
        <h4> FAQ total amount: {{ faq_total }} </h4>
        <hr/>
        <p> Your package will be expired at: </p>
        <h4> Expire date: {{ expire_date }} </h4>
        <hr/>
        <p> We will keep your bots and QA data after expiry date for <b>15</b> days.</p>
        <p> If you want to have the same package or higher one, please subscribe to the same or higher package. </p>
        <p> If you have any question, please contact the customer service. </p>
    </body>
</html>