.bot-page {
  width: 99%;
  margin: auto; }
  .bot-page .ui.pointing.menu a,
  .bot-page .ui.form .field > label {
    font-size: 15px; }
  .bot-page .bot-config-container.ui.form .field > label {
    margin-bottom: 12px; }
  .bot-page .bot-config-container.ui.form .field input {
    border: 1.5px solid #ccc;
    border-radius: 25px; }
  .bot-page .bot-config-container.ui.form .btn-group {
    margin-top: 35px; }
  .bot-page .analysis-container {
    padding: 15px; }
    .bot-page .analysis-container .analysis-dropdown {
      margin-bottom: 25px; }
    .bot-page .analysis-container .analysis-widget {
      position: relative;
      margin-bottom: 25px; }
      .bot-page .analysis-container .analysis-widget .analysis-graph {
        position: relative; }
    .bot-page .analysis-container .scale-button-group {
      margin-bottom: 20px; }

.tile-dashboard .add-bot .content {
  display: flex;
  flex-direction: column;
  justify-content: center; }

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #ddd;
  border-radius: 5px;
  padding: 4px; }
  pre code {
    padding: 10px; }

.content-container {
  margin: 0 auto;
  max-width: 900px; }
  .content-container .segment {
    border: 1px solid #ccc; }

.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  padding-left: 260px;
  border-bottom: 0.3px solid #ccc;
  z-index: 10; }
  .nav-bar .title {
    display: inline-block;
    padding: 20px; }
  .nav-bar .ui.button.test-bot-btn {
    border-radius: 0;
    width: 180px;
    position: absolute;
    right: 40px;
    top: 22px; }

.dashboard-container {
  display: block; }

.leftmenu-container {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 18rem;
  left: -18rem;
  z-index: 999; }

.leftmenu-switch {
  display: none !important; }

.rightcontent-container {
  margin-left: 19rem;
  margin-right: 20px; }
  .rightcontent-container .ui.dimmer.active.sidemenu-dimmer {
    z-index: 998; }
  .rightcontent-container .ui.message.global-message {
    position: fixed;
    top: 5px;
    margin: auto;
    left: 50%;
    z-index: 9999; }
    .rightcontent-container .ui.message.global-message .content {
      margin-right: 10px; }
    .rightcontent-container .ui.message.global-message .close.icon {
      margin-left: 10px; }

/** Smaller devices **/
@media (max-width: 1024px) {
  .leftmenu-switch {
    display: block !important; }
  .leftmenu-container .menu {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%); }
  .leftmenu-container.active .menu {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%); }
  .rightcontent-container {
    margin-left: 20px; }
    .rightcontent-container .ui.grid.bot-dashboard {
      margin-top: 0; } }

.ui.large.menu {
  font-size: 1.3rem; }

.ui.huge.menu {
  font-size: 1.4rem; }

.ui.small.menu {
  font-size: 1.1rem; }

/* SideMenu CSS Style*/
.bottomStyle {
  position: absolute;
  bottom: 5px;
  width: 100%; }

.rightIconStyle {
  float: right; }

.clickable {
  cursor: pointer; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.block {
  display: block; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.c3 svg {
  width: 100%;
  max-height: none; }

.editable-text {
  display: inline-block; }
  .editable-text .editable-text-label {
    cursor: pointer; }
    .editable-text .editable-text-label .editable-text-text {
      margin-right: 5px; }

.chatbot-modal .ui.ordered.list, .integration-page .ui.ordered.list {
  margin-left: 2rem; }
  .chatbot-modal .ui.ordered.list .item:before, .integration-page .ui.ordered.list .item:before {
    margin-left: -2rem;
    content: counters(ordered, ".") ". "; }

.ui.modal.demo-bot-container .chat-container {
  position: relative;
  height: 500px; }
  .ui.modal.demo-bot-container .chat-container .chat-header {
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: #7d12ff; }
  .ui.modal.demo-bot-container .chat-container label.chat-title {
    width: 100%;
    height: 100%;
    padding: 18px;
    color: #fff;
    display: inline-block;
    font-size: 20px; }
  .ui.modal.demo-bot-container .chat-container .chat-body {
    position: absolute;
    height: 390px;
    width: 100%;
    top: 60px;
    padding: 40px 30px 15px 30px;
    background-color: #fff;
    overflow: auto; }
  .ui.modal.demo-bot-container .chat-container .chat-input-container {
    width: 100%;
    height: 60px;
    top: 440px;
    background-color: #ddd; }
  .ui.modal.demo-bot-container .chat-container .chat-input {
    width: 100%; }
  .ui.modal.demo-bot-container .chat-container .chat-input.ui.input input {
    margin: 10px auto;
    max-width: 80%;
    border-radius: 8px;
    font-size: 16px; }
  .ui.modal.demo-bot-container .chat-container .message-wrapper {
    display: flex;
    margin-bottom: 20px; }
    .ui.modal.demo-bot-container .chat-container .message-wrapper.bot {
      justify-content: flex-start; }
      .ui.modal.demo-bot-container .chat-container .message-wrapper.bot span {
        background-color: #7d12ff;
        color: #fff; }
    .ui.modal.demo-bot-container .chat-container .message-wrapper.user {
      justify-content: flex-end; }
      .ui.modal.demo-bot-container .chat-container .message-wrapper.user span {
        background-color: #ccc; }
    .ui.modal.demo-bot-container .chat-container .message-wrapper span {
      display: inline-block;
      max-width: 70%;
      padding: 10px 18px;
      font-size: 18px;
      border-radius: 6px;
      line-height: 22px;
      word-wrap: break-word; }

.chat-container {
  border: 1px solid grey;
  padding-top: 3px; }
  .chat-container .ui.header {
    background-color: #a5673f;
    color: white;
    margin: 0 0 0 -1px;
    padding: 8px; }
  .chat-container .chat-messages-container {
    height: 400px;
    overflow-y: auto;
    margin: 0 10px 0 10px; }
    .chat-container .chat-messages-container .text-balloon-wrapper {
      display: flex;
      margin-top: 5px; }
      .chat-container .chat-messages-container .text-balloon-wrapper .flexer {
        display: flex;
        flex-direction: column;
        max-width: 80%; }
      .chat-container .chat-messages-container .text-balloon-wrapper .text-balloon-text {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        position: relative; }
        .chat-container .chat-messages-container .text-balloon-wrapper .text-balloon-text:after, .chat-container .chat-messages-container .text-balloon-wrapper .text-balloon-text:before {
          position: absolute;
          border-style: solid;
          content: "";
          display: block;
          bottom: auto; }
        .chat-container .chat-messages-container .text-balloon-wrapper .text-balloon-text:after {
          top: 6px; }
        .chat-container .chat-messages-container .text-balloon-wrapper .text-balloon-text:before {
          top: 5px; }
      .chat-container .chat-messages-container .text-balloon-wrapper .text-balloon-date {
        font-size: 0.7em;
        color: gray; }
      .chat-container .chat-messages-container .text-balloon-wrapper.user {
        justify-content: flex-end; }
        .chat-container .chat-messages-container .text-balloon-wrapper.user .flexer {
          align-items: flex-start; }
          .chat-container .chat-messages-container .text-balloon-wrapper.user .flexer .text-balloon-text {
            border: 1px solid brown;
            background-color: #FFF8DC;
            margin-right: 10px; }
            .chat-container .chat-messages-container .text-balloon-wrapper.user .flexer .text-balloon-text:after {
              right: -10px;
              left: auto;
              border-width: 5px 0 5px 11px;
              border-color: transparent #FFF8DC; }
            .chat-container .chat-messages-container .text-balloon-wrapper.user .flexer .text-balloon-text:before {
              right: -11px;
              left: auto;
              border-width: 7px 0 5px 11px;
              border-color: transparent brown; }
      .chat-container .chat-messages-container .text-balloon-wrapper.bot {
        justify-content: flex-start; }
        .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer {
          align-items: flex-end; }
          .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer .text-balloon-text {
            border: 1px solid black;
            background-color: white;
            margin-left: 10px; }
            .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer .text-balloon-text:after {
              right: auto;
              left: -10px;
              border-width: 5px 10px 5px 0;
              border-color: transparent white; }
            .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer .text-balloon-text:before {
              right: auto;
              left: -11px;
              border-width: 7px 11px 5px 0;
              border-color: transparent black; }
            .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer .text-balloon-text .recommendation-title {
              border-bottom: 1px solid black; }
            .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer .text-balloon-text .ui.list {
              margin-top: 0.6em; }
              .chat-container .chat-messages-container .text-balloon-wrapper.bot .flexer .text-balloon-text .ui.list .item:hover {
                background: #ddd; }
  .chat-container .chat-input-container {
    display: flex;
    padding: 10px;
    margin-left: -1px;
    background: #a5673f; }
    .chat-container .chat-input-container .ui.input {
      flex-grow: 1; }

.dropzone {
  border: dashed 1px;
  text-align: center; }
  .dropzone p {
    line-height: 50px;
    font-size: 35px;
    padding: 100px;
    cursor: pointer; }

.group {
  overflow: hidden;
  padding: 5px;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px solid #ccc; }
  .group .ui.button.block {
    margin: 10px;
    display: block; }
  .group i.delete-group-icon.icon {
    font-size: 18px; }
  .group .questions-group {
    overflow: hidden;
    margin: 5px;
    width: 48%; }
  .group i.icon.question-delete {
    font-size: 18px;
    margin-left: 5px; }
  .group .answer-group {
    vertical-align: top;
    overflow: hidden;
    margin: 5px;
    width: 48%; }
  .group .question {
    margin: 10px 5px; }
    .group .question .ui.input {
      width: 88%; }
  .group .answer {
    margin: 10px 5px; }
    .group .answer .ui.input {
      width: 88%; }

.add-group {
  position: fixed;
  right: 50px;
  bottom: 50px;
  top: 100px; }
  .add-group i.icon {
    font-size: 24px; }
  .add-group span {
    font-size: 24px; }

.login-container,
.register-container {
  margin: 120px auto;
  max-width: 350px; }

.login-container .input,
.register-container .input {
  margin-bottom: 10px; }

.leftmenu-container .ui.vertical.menu {
  /* background-color: rgb(3, 54, 61); */ }
  .leftmenu-container .ui.vertical.menu.item {
    font-size: 15px; }

.leftmenu-container .ui.vertical.menu .bots {
  color: #fff; }
  .leftmenu-container .ui.vertical.menu .bots.span {
    color: #fff;
    opacity: 0.55; }
  .leftmenu-container .ui.vertical.menu .bots .item {
    color: #fff; }
    .leftmenu-container .ui.vertical.menu .bots .item:hover {
      color: #fff;
      opacity: 1; }
  .leftmenu-container .ui.vertical.menu .bots .bottomStyle .item {
    color: #fff;
    opacity: 0.55; }

.leftmenu-container .logo {
  height: 30px; }

/*# sourceMappingURL=style.css.map */