.content-container {
	margin: 0 auto;
	max-width: 990px;
	padding-left: 1rem;
	padding-right: 1rem;

	.segment {
		border: 1px solid #ccc;
	}

	&.large {
		max-width: 1280px;
	}

	.content-top {
		height: 40px;
		margin-bottom: -1rem;
		padding-top: 10px;
	}
}

.nav-bar {
	height: 80px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	padding-left: 260px;
	border-bottom: 0.3px solid #ccc;
	z-index: 10;

	.title {
		display: inline-block;
		padding: 20px;
	}

	.ui.button.test-bot-btn {
		border-radius: 0;
		width: 180px;
		position: absolute;
		right: 40px;
		top: 22px;
	}
}

.dashboard-container {
	display: block;
}

.leftmenu-container {
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 18rem;
	left: -18rem;
	z-index: 999;
}

.leftmenu-switch {
	display: none !important;
}

.rightcontent-container {
	margin-left: 19rem;
	margin-right: 20px;

	.ui.dimmer.active.sidemenu-dimmer {
		z-index: 998;
	}

	.ui.message.global-message {
		position: fixed;
		top: 5px;
		margin: auto;
		left: 50%;
		z-index: 9999;

		.content {
			margin-right: 10px;
		}

		.close.icon {
			margin-left: 10px;
		}
	}
}

/** Smaller devices **/
@media (max-width: 1024px) {
	.leftmenu-switch {
		display: block !important;
	}
	.leftmenu-container {
		.menu {
			transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
			-moz-transform: translateX(-100%);
			-o-transform: translateX(-100%);
		}
		&.active .menu {
			transform: translateX(0%);
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-o-transform: translateX(0%);
		}
	}
	.rightcontent-container {
		margin-left: 20px;
		.ui.grid.bot-dashboard {
			margin-top: 0;
		}

		.topmenu {
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
