.dropzone {
  border: dashed 1px;
  text-align: center;

  p {
    line-height: 50px;
    font-size: 35px;
    padding: 100px;
    cursor: pointer;
  }
}

.group {
  overflow: hidden;
  padding: 5px;
  margin: 10px auto;

  .ui.button.block {
    margin: 10px;
    display: block;
  }

  i.delete-group-icon.icon{
    font-size: 18px;
  }

  .questions-group {
    overflow: hidden;
    margin: 5px;
    width: 48%;
  }
  
  i.icon.question-delete {
    font-size: 18px;
    margin-left: 5px;
  }
  
  .answer-group {
    vertical-align: top;
    overflow: hidden;
    margin: 5px;
    width: 48%;
  }
  
  .question {
    margin: 10px 0;
  
    .ui.input {
      width: 88%;
    }
  }
  
  .answer {
    margin: 10px 0;
  
    .ui.input {
      width: 88%;
    }
  }
}

.add-group {
  position: fixed;
  right: 50px;
  bottom: 50px;
  top: 100px;

  i.icon {
    font-size: 24px;
  }

  span {
    font-size: 24px;
  }
}